.container{
    margin-bottom: 100px;
}

.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom,#ff589b,#ff136f);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background: linear-gradient(to right,orange 40%,yellow);
}
.cat2{
    background: linear-gradient(to bottom,hotpink 20%,deeppink);
}
.cat3{
    background: linear-gradient(to right,dodgerblue 25%,blue);
}

.categories h2{
    color: white;
}

.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}

.card-footer{
    background-color: white;
    border-top: none;
    text-align: center;
}

#subscribe{
    height: 300px;
}

